.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #000;
}
.header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.header .logo {
  color: blue;
  font-weight: 800;
}
